/* **************** NAVBAR ************ */
* {
  margin: 0;
  font-family: sans-serif;
}
.navbar {
  background-color: #6f6af7;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  color: white;
}
#logo {
  font-family: "Delius Unicase";
  font-size: 40px;
}
#nav-lists {
  display: flex;
}
#nav-lists li {
  margin-right: 30px;
  font-size: x-large;
  margin-top: 8px;
  font-weight: l;
}
#search-area {
  position: relative;
}
#search {
  padding: 10px 30px 10px 10px;
  border-radius: 50px;
  border: 0;
  outline: none;
  width: 150px;
}
.search {
  position: absolute;
  top: 17%;
  right: 10px;
  color: rgb(110, 108, 108);
}
#hamburger {
  font-size: 40px;
}

/* **********SOCIAL-MEDIA************ */
#social-media {
  position: sticky;
  float: right;
  top: 0px;
}
#social-media img {
  width: 80px;
}

/* ************* FIELD 
******************** */

.field {
  margin-left: 80px;
  margin-top: 100px;
  position: relative;
  width: 88%;
  /* background-color: bisque; */
}

/* ************* FIELD-1 
******************** */
.field-1 {
  width: 100%;
  height: 300px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.field-1 img {
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(107, 107, 107);
}
.field-1 #field-1-text {
  margin-left: 40px;
  width: 100%;
  margin-right: 40px;
  border-radius: 10px;
  background-color: #e5d8ff;
  box-shadow: inset 2px 2px 10px rgb(174, 173, 173);
  position: relative;
}
.field-1 p {
  position: absolute;
  margin-left: 435px;
  margin-top: 20px;
  color: rgb(105, 106, 106);
  word-spacing: 5px;
  margin-right: 30px;
}

/* ***************FIELD-2****************** */
.field-2 {
  margin-top: 120px;
}

#field-2-lists {
  display: flex;
  justify-content: space-between;
}

#field-2-lists li {
  height: 60px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(107, 107, 107);
  line-height: 28px;
  padding: 5px 10px 5px 10px;
  color: white;
  letter-spacing: 2px;
}

/* *******************HELP DESK************* */

#help-desk img {
  height: 130px;
  width: 130px;
  position: fixed;
  top: 590px;
  left: 1330px;
  z-index: 2;
}

/* **********************FIELD-3************************ */

.field-3 {
  margin-top: 120px;
  display: flex;
  background-color: #483eff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

#field-3-lists li {
  height: 60px;
  width: 200px;
  border-radius: 10px;
  color: white;
  letter-spacing: 1px;
  border: 3px solid white;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  line-height: 60px;
}

#field-3-text {
  margin-left: 40px;
  width: 100%;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #f8f8f9;
}

#details {
  margin: 30px;
  color: #04285a;
}

#details h2 {
  letter-spacing: 2px;
  margin-bottom: 27px;
}
#details p {
  margin-left: 20px;
  margin-bottom: 23px;
  letter-spacing: 1px;
}

.arrow {
  color: white;
  margin-top: 8px;
}

#next {
  background-color: black;
  color: white;
  height: 40px;
  width: 100px;
  border: 0;
  float: right;
  margin-top: 45px;
  margin-right: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  line-height: 40px;
}
